<title>About</title>

<div id="social">

<%= link_to image_tag("icons/facebook-48.png", width: 48, :alt => 'Facebook Icon', :id => 'facebookIcon'), 'http://www.facebook.com/stevesmithmusic', :id => 'facebookIcon' %>
<%= link_to image_tag("icons/twitter-48.png", width: 48, :alt => 'Twitter Icon', :id => 'twitterIcon'), 'https://twitter.com/stevesmithindy', :id => 'twitterIcon' %>
<%= link_to image_tag("icons/flickr-48.png", width: 48, :alt => 'Flickr Icon', :id => 'flickrIcon'), 'http://www.flickr.com/photos/22594629@N06/', :id => 'flickrIcon' %>
<%= link_to image_tag("icons/reverb-48.png",  :alt => 'ReverbNation Icon', :id => 'reverbNationIcon'), 'http://www.reverbnation.com/stevesmithacoustic', :id => 'reverbNationIcon' %>
<%= link_to image_tag("icons/liveMusicArchive2-48.png",  :alt => 'Live Music Archive Icon', :id => 'liveMusicArchiveIcon'), 'http://archive.org/search.php?query=subject%3A%22Fernhead%22', :id => 'liveMusicArchiveNationIcon' %>

</div>