<title>About</title>

<div id="about">
<h1>Steve Smith</h1>
<p>Steve Smith is a Midwestern singer/songwriter/guitar man that plays hundreds of shows a year.</p>
<p></p>
</div>

<div id="cdbaby">
  <div style='width:225px; height:120px; margin:0; padding:0; border:0; background-image:url(http://www.cdbaby.com/Images/Links/linkmkr_btn5grey_buymp3s.png);'><a href='http://www.cdbaby.com/cd/stevesmith72' style='display:block; padding:9px 10px 10px 117px; margin:0; border:0;'><img src='http://CDBaby.name/s/t/stevesmith72_small.jpg' width='100' height='100' alt='Steve Smith: Start Today' style='border:0; margin:0; padding:0;' /></a></div>
</div>

<div id="social">

<%= link_to image_tag("icons/facebook-48.png", width: 48, :alt => 'Facebook Icon', :id => 'facebookIcon'), 'http://www.facebook.com/stevesmithmusic', :id => 'facebookIcon', :target => '_blank' %>
<%= link_to image_tag("icons/twitter-48.png", width: 48, :alt => 'Twitter Icon', :id => 'twitterIcon'), 'https://twitter.com/stevesmithindy', :id => 'twitterIcon', :target => '_blank'  %>
<%= link_to image_tag("icons/flickr-48.png", width: 48, :alt => 'Flickr Icon', :id => 'flickrIcon'), 'http://www.flickr.com/photos/22594629@N06/', :id => 'flickrIcon', :target => '_blank'  %>
<%= link_to image_tag("icons/youtube-48.png",  :alt => 'Youtube Icon', :id => 'youtubeIcon'), 'http://www.youtube.com/user/stevesmithmusictube/videos', :id => 'youtubeIcon', :target => '_blank'  %>
</br>
<%= link_to image_tag("icons/reverb-48.png",  :alt => 'ReverbNation Icon', :id => 'reverbNationIcon'), 'http://www.reverbnation.com/stevesmithacoustic', :id => 'reverbNationIcon', :target => '_blank'  %>
<%= link_to image_tag("icons/liveMusicArchive2-48.png",  :alt => 'Live Music Archive Icon', :id => 'liveMusicArchiveIcon'), 'http://archive.org/search.php?query=subject%3A%22Fernhead%22', :id => 'liveMusicArchiveNationIcon', :target => '_blank'  %>

</div>