<title>Events</title>
<section class="event <%= "steve_show" if @event.steve_show %>">

<div id="event_side">
<p id="notice"><%= notice %></p>

<div id="event_time">
<h1><%= @event.event_date.strftime("%A, %B %e") %></h1>
<span><%= @event.begin_time.strftime("%l:%M %p") %>-<%= @event.end_time.strftime("%l:%M %p") %></span>
</div>

<div id="event_description">
<p>
<h1><%= @event.title %></h1>
<%= @event.description.html_safe %>
</p>
<% if admin? %>
  <%= link_to 'Edit', edit_event_path(@event) %> | <%= link_to 'Destroy', @event, method: :delete, remote: true, class: "delete_event", data: { confirm: 'Are you sure?' } %>
<% end %>
</div>
</div>
<% @venue = @event.venue %>
<div id="venue_side">
<%= render @venue %>
</div>

</section>

