<p id="notice"><%= notice %></p>

<p>
  <b>Venue:</b>
  <%= @event.venue.name %>
</p>

<p>
  <b>Steve show:</b>
  <%= @event.steve_show %>
</p>

<p>
  <b>Event date:</b>
  <%= @event.event_date.strftime("%_m/%-d/%Y") %>
</p>

<p>
  <b>Begin time:</b>
  <%= @event.begin_time.strftime("%l:%M %p") %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time.strftime("%l:%M %p") %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
