<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset id="who_details">
    <legend>Contact Details</legend>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :size => 40 %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, :size => 40 %>
    </div>
  </fieldset>
  <fieldset id="shipping_details">
    <legend>Shipping Details</legend>
    <div class="field">
      <%= f.label :ship_line1, "Address Line One" %>
      <%= f.text_field :ship_line1, :size => 40 %>
    </div>
    <div class="field">
      <%= f.label :ship_line2, "Address Line Two" %>
      <%= f.text_field :ship_line2, :size => 40 %>
    </div>
    <div class="field">
      <%= f.label :ship_city, "City" %>
      <%= f.text_field :ship_city, :size => 40 %>
    </div>
    <div class="field">
      <%= f.label :ship_state, "State" %>
      <%= f.text_field :ship_state, :size => 40 %>
    </div>
    <div class="field">
      <%= f.label :ship_zip, "Zip Code" %>
      <%= f.text_field :ship_zip, :size => 40 %>
    </div>
  </fieldset>

  <%= f.hidden_field :stripe_card_token %>

  <fieldset id="cc_details">
    <legend>Credit Card Details</legend>
    <% if @order.stripe_card_token.present? %>
      Credit card has been provided.
    <% else %>
      <div class="field">
        <%= label_tag :card_name, "Name On Card" %>
        <%= text_field_tag :card_name, nil, name: nil, :size => 40 %>
      </div>
      <div class="field">
        <%= label_tag :card_number, "Credit Card Number" %>
        <%= text_field_tag :card_number, nil, name: nil %>
      </div>
      <div class="field">
        <%= label_tag :card_code, "Security Code on Card (CVV)" %>
        <%= text_field_tag :card_code, nil, name: nil %>
      </div>
      <div class="field">
        <%= label_tag :card_month, "Card Expiration" %>
        <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
      </div>
    <% end %>
  </fieldset>

  <div class="actions">
    <%= f.submit 'Place Order', :class => 'checkout_buttons', :id => 'order_button' %>
  </div>
  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>


<% end %>
