<p id="notice"><%= notice %></p>

<p>
  <b>Venue Name:</b>
  <%= @venue.name %>
</p>

<p>
  <b>Address:</b>
  <span id="address">
  <%= @venue.line1 %>
<% if @venue.line2 %>
  <%= @venue.line2 %>
<% end %>
  <%= @venue.city %>, <%= @venue.state %> <%= @venue.zip%>
  </span>
</p>

<div id="map_canvas" style="width:400px; height:400px"></div>

