<div id="venue">
<p id="notice"><%= notice %></p>
<div id="map_canvas"></div>
<p>
  <h3><%= @venue.name %></h3>
</p>
<p>
  
  <span id="address">
  <%= @venue.line1 %>
<% if @venue.line2 %>
  <%= @venue.line2 %>
<% end %>
  <%= @venue.city %>, <%= @venue.state %> <%= @venue.zip%>
  </span>
</p>
</div>



