<nav>
  <%= link_to 'Home', '/home' %>
  <%= link_to 'About', '/about' %>
  <%= link_to 'Events', events_path %>
  <%= link_to 'Venues', venues_path %>
  <%= link_to 'New Event', new_event_path %>
</nav>