<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "jplayer.pink.flag", :media => "all" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <%= javascript_include_tag "application", "jquery.jplayer.min", "jplayer.playlist.min", "mbScrollable.js", "jquery.backgroundSize.js" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAk9XtINmxyf6Rnvwe_ynWuR9-VR4XSAaE&sensor=false" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
</head>

<body>

  <%= render "layouts/music_player" %>
  <%= render "layouts/navigation" %>

  <div id="container">
    <div id="sidebar">
      <%= render "layouts/currentEvents" %>
      <%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do %>
          <%= render @cart %>
      <% end %>
    </div>
    <div id="main">
      <div id="page" data-pjax-container>
        <%= yield %>
      </div>
    </div>
  </div>



</body>
</html>